extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Puro, Chile, es tu cielo azulado, puras brisas te cruzan también, y tu campo de flores bordado es la copia feliz del Edén. Majestuosa es la blanca montaña que te dio por baluarte el Señor, y ese mar que tranquilo te baña te promete futuro esplendor.

        a.btn.btn-primary(href='#') Get in touch


