extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2 Resultado búsqueda:
        h2.vesp Ingresado Campo 1
        | #{campo1}
        h2.ving Resultado Campo 2
        | #{campo2}
